@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.my-custom-tabs .ant-tabs-tab {
  border: none; /* Remove the default border */
  font-weight: bold; /* Customize the font weight */
  font-size: 26px;
font-style: normal;
font-weight: 400;
color: rgba(26, 59, 88, 0.33);
}

.my-custom-tabs .ant-tabs-tab-active {
  /* background-color: #E6E6E6; */
  color: yellow; /* Change the text color for active tabs */
}
